@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light, dark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@utility btn {
  @apply active:scale-95 transition-all ease-in-out duration-200 font-jakarta shadow-none rounded-lg;
}

@utility input {
  @apply rounded-lg;
}

@utility select {
  @apply rounded-lg;
}

* {
  scrollbar-gutter: auto !important;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.prose p {
  margin: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

html[data-theme="dark"] .tiptap {
  color: white;
}

html[data-theme="light"] .tiptap {
  color: black;
}

.tiptap {
  outline: none;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

/* Task list specific styles */
.tiptap ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tiptap ul[data-type="taskList"] li {
  align-items: flex-start;
  display: flex;
}

.tiptap ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.tiptap ul[data-type="taskList"] li[data-checked="true"] div p {
  text-decoration: line-through;
  opacity: 0.6;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}

.tiptap ul[data-type="taskList"] ul[data-type="taskList"] {
  margin: 0;
}

.tiptap table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.tiptap td,
.tiptap th {
  border: 1px solid var(--tw-prose-hr);
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
  background-color: var(--b1);
}

.tiptap td > *,
.tiptap th > * {
  margin-bottom: 0;
}

.tiptap th {
  background-color: var(--tw-prose-hr);
  font-weight: bold;
  text-align: left;
}

.tiptap .selectedCell::after {
  background: #64646480;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap .column-resize-handle {
  background-color: #d1d5dc;
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.tiptap .tableWrapper {
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: col-resize;
}
